packaging_format = 2

id = "cryptpad"
name = "CryptPad"
description.en = "Zero Knowledge realtime collaborative office suite"
description.fr = "Suite bureautique chiffrée pour la collaboration en temps réel"

version = "2024.6.0~ynh1"

maintainers = ["ddataa"]

[upstream]
license = "AGPL-3.0-only"
website = "https://cryptpad.org"
demo = "https://cryptpad.fr"
admindoc = "https://docs.cryptpad.org/en/"
code = "https://github.com/cryptpad/cryptpad"
cpe = "cpe:2.3:a:xwiki:cryptpad"
fund = "https://opencollective.com/cryptpad/contribute?language=fr"

[integration]
yunohost = ">= 11.2.20"
architectures = "all"
multi_instance = false

ldap = false

sso = false

disk = "50M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    help.en = "CryptPad needs to be installed in a dedicated domain or sub-domain."
    help.fr = "CryptPad doit être installé dans un domaine ou sous-domaine dédié."
    type = "domain"

    [install.init_main_permission]
    help.en = "If 'Visitors' enabled, CryptPad will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si 'Visiteurs' est cochée, CryptPad sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/xwiki-labs/cryptpad/archive/refs/tags/2024.6.0.tar.gz"
    sha256 = "b8694fc5f76c47204e012956a0af64e8c19968ae479da00cfd9d371d4185d2da"
    autoupdate.strategy = "latest_github_tag"

    [resources.ports]
    main.default = 3000
    socket.default = 3003

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
