[Unit]
Description=CryptPad is an encrypted PAD Creator
After=syslog.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__DIRECTORY__
ExecStart=/usr/bin/node server.js
Restart=always
Environment=USER=__APP__ HOME=__DIRECTORY__

[Install]
WantedBy=multi-user.target
