[Unit]
Description=CryptPad service
After=syslog.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStartPre=__NODEJS__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
ExecStart=__NODE__ __FINALPATH__/server.js | tee /var/log/cryptpad/cryptpad.log 
Restart=always

[Install]
WantedBy=multi-user.target
