[Unit]
Description=CryptPad service
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
ExecStart=__NODE__ server | tee /var/log/cryptpad/cryptpad.log 
Restart=always

[Install]
WantedBy=multi-user.target
